<div class="container">
    <div class="notification">
        <p>
            If questions arise, please open an <a href="https://github.com/EpicSevenDB/apiserver/issues" target="_blank"><strong class="has-text-info">Issue on Github</strong></a>.
        </p>
    </div>
</div>

{{!-- section.section>.container>.columns>(aside.column.menu.is-one-fifth.is-hidden-touch>ul.menu-list>li*3>a{menu$})(.column{main content}) --}}
<section class="section">
    <div class="container">
        <div class="columns">
            <main class="column is-12">
                <h3 class="title is-4">
                    Github
                </h3>
                <p>
                    <a href="https://github.com/EpicSevenDB/apiserver" target="_blank"><strong class="has-text-info">Github Page</strong></a>
                </p>

                <a name="howto"></a>
                <h3 class="title is-4">
                    How to use
                </h3>
                <p>
                    You can use <strong class="has-text-info">XMLHttpRequest</strong> to call the EpicSevenDB API. The API is configured with CORS, therefore you don't need to worry about Cross-Domain XHR issues.
                </p>
                <div class="message">
                    <pre class="message-body">https://?????/api/<strong class="has-text-info">{:resourceType}</strong>/<strong class="has-text-info">{:resource}</strong><strong class="has-text-info">{:?querystringOrParam}</strong></pre>
                </div>
            </main>
        </div>
    </div>
</section>
